spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/reliefV2
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

jwt:
  secret: ${JWT_SECRET}
  redis:
    max-sessions-per-user: 999999